<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rishikesh-Distributor-Online</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<body>
    <div class="nav">
        <nav class="navbar">
            <div class="navbar-brand">RISHIKESH DISTRIBUTOR</div>
            <div class="cart-profile">
                
                <a href="/profile">
                    <img 
                    src="<%= user && user.profilePicture ? user.profilePicture : '/images/Frontend-images/user.png' %>" 
                    class="profilePicture" 
                    alt="Profile"
                >                </a>
                <div class="cart">
                    <a href="/home/cart">
                        <img src="/images/Frontend-images/cart.png" class="trolly" alt="Cart">
                    </a>
                </div>
                <div class="menu-toggle" id="menuToggle">☰</div>
                <div class="navbar-links" id="navbarLinks">
                    <div class="links">
                        <a class="link" href="/home">Home</a>
                        <a class="link" href="/home/companies">Companies</a>
                        <a class="link" href="/services">Services</a>
                        <a class="link" href="/contact">Contact</a>
                    </div>
                    <% if (user && user.isAdmin) { %>
                        <form action="/owner/daily-orders" style="display: inline;">
                            <button class="logout">Admin Panel</button>
                        </form>
                        <% } %>
                        <form action="/users/logout" method="POST" style="display: inline;">
                            <button class="logout" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
                </nav>
            </div>
            
       <script src="/javascripts/header.js"></script>
</body>
</html>
