<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<body>
    <div class="nav">
        <nav class="navbar">
            <div class="navbar-brand">BRAND NAME</div>
            <div class="cart-profile">
                
                <a href="/profile">
                    <img src="<%= user ? user.profilePicture : '/images/Frontend-images/user.png' %>" class="profilePicture" alt="Profile">
                </a>
                <a href="/home/cart">
                    <img src="/images/Frontend-images/cart.png" class="trolly" alt="Cart">
                </a>
                <div class="menu-toggle" id="menuToggle">☰</div>
                <div class="navbar-links" id="navbarLinks">
                    <div class="links">
                        <a href="/home">Home</a>
                        <a href="/home/companies">Companies</a>
                        <a href="/services">Services</a>
                        <a href="/contact">Contact</a>
                    </div>
                    <% if (user && user.isAdmin) { %>
                        <form action="/owner/daily-orders" style="display: inline;">
                            <button class="logout">Admin Panel</button>
                        </form>
                        <% } %>
                        <form action="/users/logout" method="POST" style="display: inline;">
                            <button class="logout" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
                </nav>
            </div>
            
            
            <script>
                const menuToggle = document.getElementById('menuToggle');
                const navbarLinks = document.getElementById('navbarLinks');

        menuToggle.addEventListener('click', () => {
            navbarLinks.classList.toggle('show');
        });
    </script>
</body>
</html>
