<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>
<body>
   <div class="box">
    <div class="buttons">
        <a href="/owner/add-product" class="button"> Create New Product </a>
        <a href="/owner/daily-orders" class="button" > Orders Today  </a>
        <a href="/owner/total-orders" class="button" > Total Orders</a>
        <a href="/owner/users" class="button" > Users</a>
    </div>
   </div>
   
</body>
</html>