<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rishikesh-Distributor-Online Company Showcase</title>
    <link rel="stylesheet" href="/stylesheets/companies.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>

    <header>
        <h1>Our Companies</h1>
    </header>
    <main>
        <div class="company-grid">
            <a target="_blank" href="https://www.sitaramayurveda.com/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/sitaram.png" alt="">
                        </div>
                        <h2>Sitaram Ayurveda</h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://www.avnayurveda.com/avn-ayurvedic-products/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/AVN.png" alt="">
                        </div>
                        <h2>AVN Ayurveda Formulation </h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://apexlab.com/products/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/apex.png" alt="">
                        </div>
                        <h2>Apex Laboratories Pvt. Ltd.</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://www.avpayurveda.com/all_products/arishtam-asavas/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/AVP.png" alt="">
                        </div>
                        <h2>Arya Vaidya Pharmacy Ltd</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://acuerebiosciences.com/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/acuere.png" alt="">
                        </div>
                        <h2> Acuere Biosciences Pvt. Ltd.</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://amoghpharma.co.in/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/Amogh.png" alt="">
                        </div>
                        <h2>Amogh Pharma</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="http://www.bhardwajayurvedicmedicine.com/products.html">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/Bharadwaj.jpge.webp" alt="">
                        </div>
                        <h2>Bharadwaj Pharmaceutical Works</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://www.charak.com/products/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/charak.svg" alt="">
                        </div>
                        <h2>Charak Pharma</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://www.chaitanyapharma.com/index.html">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/chaitanya.jpg" alt="">
                        </div>
                        <h2>Chaitanya Pharmaceuticals PVT LTD</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://ailvilshop.com/catalog">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/AILVIL.webp" alt="">
                        </div>
                        <h2>Ailvil Healthcare</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://www.dhanvantari.co.in/our-products/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/dhanavantri.png" alt="">
                        </div>
                        <h2>Dhanvantari Guj. Herb</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://gufic.com/category/products/herbal/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/gufic.png" alt="">
                        </div>
                        <h2>Gufic Biosciences Ltd</h2>
                    </div>
                </div>
            </a>
            
            <a target="_blank" href="https://himalayawellness.in/pages/search-results-page?collection=wellness">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/himalaya.jpg" alt="">
                        </div>
                        <h2>Himalaya Drug(Pure Herb)</h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://imispharma.com/our-products/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/imis.jpg" alt="">
                        </div>
                        <h2>IMIS Pharmaceuticals Pvt Ltd</h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://www.1mg.com/marketer/maximaa-proyurveda-74948?srsltid=AfmBOop1Nyi3jQpmIhtM3I4vL1Ys_eU9fl-FMO9j_JMYN_yKf31oq8p-">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/maxima.png" alt="">
                        </div>
                        <h2>Maximaa Proyurveda</h2>
                    </div>
                    <p>( they don't have there own Website )</p>
                </div>
            </a>
            <a target="_blank" href="https://nagarjunpharma.com/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/nagaarjun-pharama.png" alt="">
                        </div>
                        <h2>Nagarjun Pharmaceuticals Pvt. Ltd.</h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="http://pinkhealth.com/index.html">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/pink.png" alt="">
                        </div>
                        <h2>Pink Health Care</h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://solumiks.com/product/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/solumiks.webp" alt="">
                        </div>
                        <h2>Solumks Herbaceuticals Ltd</h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://rajherbals.com/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/RAJ-HERBALS.webp" alt="">
                        </div>
                        <h2>Raj Herbals</h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://www.vasuhealthcare.com/products/">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/Vasu-Healthcare-1.jpg" alt="">
                        </div>
                        <h2>Vasu Healthcare</h2>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://vaidyaratnammooss.com/products">
                <div class="company-box">
                    <div class="company-info">
                        <div class="company-logo">
                            <img class="company-img" src="/images/company-images/vaidhyaratnam.png" alt="">
                        </div>
                        <h2>Vaidyaratnam Oushadhasala Ltd. Kerala</h2>
                    </div>
                </div>
            </a>
            
      
        </div>
    </main>

</body>

</html>
