<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rishikesh-Distributor-Online Contact Us</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>
    <div class="container">
        <!-- Shop Details -->
        <div class="shop-details">
            <h1>Shop Name</h1>
            <p>1234 Example Street, City, Country</p>
            <p class="telephone"><img class="icon" src="/images/Frontend-images/telephone.png" alt="WhatsApp Icon">+9998468564</p>
        </div>

        <!-- Admin Details -->
        <div class="contact-section">
            <div class="contact-box">
                <img class="profile" src="/images/Frontend-images/user.png" alt="Admin Image">
                <h2>Admin <img class="icon" src="/images/Frontend-images/Admin-tick.png" alt="Verified Tick"></h2>
                <h3>Shripad Katta</h3>
                <div class="center">

                    <p><img class="icon" src="/images/Frontend-images/email.png" alt="Email Icon"><strong></strong> admin@example.com</p>
                    <p><img class="icon" src="/images/Frontend-images/whatsapp.png" alt="WhatsApp Icon"><strong></strong> +9998468564</p>
                    <p><img class="icon" src="/images/Frontend-images/contact-mobile.png" alt="Phone Icon"><strong></strong> +1234567890</p>
                </div>
            </div>

            <!-- Staff Details -->
            <div class="staff-flex">

                <div class="contact-box staff-box">
                    <div class="staff">
                        <img class="profile" src="/images/Frontend-images/user.png" alt="Staff 2 Image">
                        <div class="staff-detail">
                            <h2>Staff Member 2</h2>
                            <p><img class="icon" src="/images/Frontend-images/whatsapp.png" alt="WhatsApp Icon"><strong></strong> +986655987</p>
                            <p><img class="icon" src="/images/Frontend-images/contact-mobile.png" alt="Phone Icon"><strong></strong> +1122334455</p>
                        </div>
                    </div>
                </div>
                <div class="contact-box staff-box">
                    <div class="staff">
                        <img class="profile" src="/images/Frontend-images/user.png" alt="Staff 2 Image">
                        <div class="staff-detail">
                            <h2>Staff Member 2</h2>
                            <p><img class="icon" src="/images/Frontend-images/whatsapp.png" alt="WhatsApp Icon"><strong></strong> +987654685</p>
                            <p><img class="icon" src="/images/Frontend-images/contact-mobile.png" alt="Phone Icon"><strong></strong> +1122334455</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
