<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/stylesheets/createProduct.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/sidebar') %>
    <div class="content">
        <div class="flash" id="flash-container">
            <div class="flash-message">
                <% if (messages.success) { %>
                    <div class="flash-message success">
                        <%= messages.success %>
                    </div>
                <% } %>
                <% if (messages.error) { %>
                    <div class="flash-message error">
                        <%= messages.error %>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="h1">
            <h1>Add New Product</h1>
        </div>
        <div class="box-container">
            <form action="/products/create" method="post" enctype="multipart/form-data">
                <div class="box-1">
                    <label for="productName">Product Name:</label>
                    <input type="text" id="productName" name="productName" required><br><br>
                    
                    <label for="companyName">Company Name:</label>
                    <input type="text" id="companyName" name="companyName" required><br><br>
                    
                    <label for="schemes">Schemes</label>
                    <input type="text" id="schemes" name="schemes" required><br><br>
                    
                    <label for="productImage">Product Image:</label>
                    <input class="btn" type="file" id="productImage" name="productImage" required><br><br>
                </div>
                <div class="box-2">
                    <label for="productCompositions">Compositions:</label>
                    <input type="text" id="productCompositions"  name="productCompositions" required></input><br><br>
                    <div id="packingContainer">
                        <div class="packing-field">
                            <label for="packing">Packing:</label>
                            <input type="text" name="productPacking[]" required>
                            <label for="price">Price:</label>
                            <input type="text" name="productPrice[]" required>
                            <br><br>
                        </div>
                    </div>
                    <button type="button" onclick="addPackingField()">Add Another Packing</button>
                    <button type="button" class="cancel" onclick="removePackingField()">Cancel Last Packing</button>
                    <br><br>
                </div>
                <button type="submit">Add Product</button>
            </form>
        </div>
    </div>
    <script src="/javascripts/createproduct.js"></script>
</body>
</html>
